<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>品牌管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/soulTable.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
</head>

<body>
	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>
	
	<div class="z-body animated fadeIn">
		<form class="layui-form zadmin-search-area input">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label for="brandName" class="layui-form-label">品牌</label>
					<div class="layui-input-inline">
						<input type="text" name="brandName" autocomplete="off"
							id="brandName" class="layui-input">
					</div>
					
					<button lay-submit="" lay-filter="search"
						class="layui-btn layui-btn-sm layui-btn-primary table-action">
						<i class="zadmin-icon zadmin-icon-search"></i>
					</button>
				</div>
			</div>
		</form>
		
		<table class="layui-hide" id="brand-table" lay-filter="brandTable"></table>
	</div>
	
	<script type="text/html" id="toolbar">
		<shiro:hasPermission name="maint:add">
			<button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
				<i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
					新增
			</button>
		</shiro:hasPermission>
	</script>
	
	<script type="text/html" id="column-toolbar">
		<shiro:hasPermission name="maint:edit">
			<a lay-event="edit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="maint:delete">
			<a lay-event="del">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>
		
		<shiro:lacksPermission name="maint:appoint">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red" title="无权限"></i>
		</shiro:lacksPermission>
	</script>
	
	<script type="text/html" id="childToolbar">
		<shiro:hasPermission name="maint:add">
			<div>
				<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="addStep">添加步骤</a>
			</div>
		</shiro:hasPermission>
	</script>
	
	<script type="text/html" id="column-toolbar-sort">
		<i class="zadmin-icon zadmin-icon-shangyimian zadmin-oper-area zadmin-blue" lay-event="up" title="上移"></i>
		<i class="zadmin-icon zadmin-icon-xiayimian zadmin-oper-area zadmin-blue" lay-event="down" title="下移"></i>
	</script>
	
	<script type="text/html" id="children-column-toolbar">
		<shiro:hasPermission name="user:update">
			<a lay-event="childEdit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="user:delete">
			<a lay-event="childDel">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>
		
		<shiro:lacksPermission  name="user:update,user:delete">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
		</shiro:lacksPermission>
	</script>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
    <script>
		var childId;
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['table', 'element', 'form', 'soulTable'], function () {
			var $ = layui.$;
			var table = layui.table;
			var form = layui.form;
			var soulTable = layui.soulTable;
			
			table.render({
				elem: '#brand-table',
				url: '/brand/list',
				toolbar: '#toolbar',
				defaultToolbar: null,
				page: true,
				cols: [
					[
						{title: '#', width: "4%", collapse: true, children:[
							{
								title: '维修流程',
								url: function(row) {
									return '/brand/step/' + row.brandId + '/' + 0;
								},
								height: 280,
								page: false,
								toolbar: '#childToolbar',
								defaultToolbar: null,
								overflow: {
									type: 'title',
									hoverTime: 500
								},
								cols: [
									[
										{type: 'checkbox', title: '#', 'LAY_CHECKED': true, hide: true},
										{type: 'numbers', title: '序号', width: "5%"},
										{field: 'stepId', title: 'ID', hide: true},
										{field: 'stepName', title: '流程', width: "65%"},
										{title: '排序', fixed: 'right', align: 'center', width: "15%", toolbar: '#column-toolbar-sort'},
										{title: '操作', fixed: 'right', align: 'center', toolbar: '#children-column-toolbar', width: "15%"}
									]
								],
								toolEvent: function(obj, pobj) {
									// obj 子表当前行对象
									// pobj 父表当前行对象
									childId = this.id; // 通过 this 对象获取当前子表的id
									var index = obj.tr.data('index');	//当前行索引
									switch (obj.event) {
										case 'up':
											swapId = $(obj.tr).prev().find("td[data-field='stepId'] div").html();
											currentId = obj.data.stepId;
											if (typeof swapId == 'undefined') {
												layer.msg("已是第一层");
												return;
											}
											swapSort(currentId, swapId);
											break;
										case 'down':
											swapId = $(obj.tr).next().find("td[data-field='stepId'] div").html();
											currentId = obj.data.stepId;
											if (typeof swapId == 'undefined') {
												layer.msg("已是最后一层");
												return;
											}
											swapSort(currentId, swapId);
											break;
										case 'childEdit':
											childEdit(obj.data.stepId, 0, index);
											break;
										case 'childDel':
											childDel(obj.data.stepId);
											break;
										default:
											break;
									}
								},
								toolbarEvent: function (obj, pobj) {
									// obj 子表当前行对象
									// pobj 父表当前行对象
									childId = this.id; // 通过 this 对象获取当前子表的id
									var checkStatus = table.checkStatus(obj.config.id);
									var rowNum = checkStatus.data.length;	//行数
									switch (obj.event) {
										case 'addStep':
											addStep(pobj.brandId, 0, rowNum);
											break;
										default:
											break;
									}
			                    },
								done: function() {
									soulTable.render(this);
								}
							},
							{
								title: '保养流程',
								url: function(row) {
									return '/brand/step/' + row.brandId + '/' + 1;
								},
								height: 280,
								page: false,
								toolbar: '#childToolbar',
								defaultToolbar: null,
								overflow: {
									type: 'title',
									hoverTime: 500
								},
								cols: [
									[
										{type: 'checkbox', title: '#', 'LAY_CHECKED': true, hide: true},
										{type: 'numbers', title: '序号', width: "5%"},
										{field: 'stepId', title: 'ID', hide: true},
										{field: 'stepName', title: '描述', width: "65%"},
										{field: 'stepDescription', title: '排序', align: 'center', width: "15%", toolbar: '#column-toolbar-sort'},
										{title: '操作', fixed: 'right', align: 'center', toolbar: '#children-column-toolbar', width: "15%"}
									]
								],
								toolEvent: function(obj, pobj) {
									// obj 子表当前行对象
									// pobj 父表当前行对象
									childId = this.id; // 通过 this 对象获取当前子表的id
									var index = obj.tr.data('index');	//当前行索引
									switch (obj.event) {
										case 'up':
											swapId = $(obj.tr).prev().find("td[data-field='stepId'] div").html();
											currentId = obj.data.stepId;
											if (typeof swapId == 'undefined') {
												layer.msg("已是第一层");
												return;
											}
											swapSort(currentId, swapId);
											break;
										case 'down':
											swapId = $(obj.tr).next().find("td[data-field='stepId'] div").html();
											currentId = obj.data.stepId;
											if (typeof swapId == 'undefined') {
												layer.msg("已是最后一层");
												return;
											}
											swapSort(currentId, swapId);
											break;
										case 'childEdit':
											childEdit(obj.data.stepId, 1, index);
											break;
										case 'childDel':
											childDel(obj.data.stepId);
											break;
										default:
											break;
									}
								},
								toolbarEvent: function (obj, pobj) {
									// obj 子表当前行对象
									// pobj 父表当前行对象
									childId = this.id; // 通过 this 对象获取当前子表的id
									var checkStatus = table.checkStatus(obj.config.id);
									var rowNum = checkStatus.data.length;	//行数
									switch (obj.event) {
										case 'addStep':
											addStep(pobj.brandId, 1, rowNum);
											break;
										default:
											break;
									}
			                    },
								done: function() {
									soulTable.render(this);
								}
							}
						]},
						{field: 'brandId', title: 'ID', hide: true},
						{field: 'brandName', title: '品牌', width: "81%"},
						{title: '操作', fixed: 'right', align: 'center', toolbar: '#column-toolbar', width: '15%'}
					]
				],
				done: function() {
					soulTable.render(this);
				}
			});
			
			// 工具条点击事件
			table.on('toolbar', function (obj) {
				var data = obj.data;
				var event = obj.event;
				
				if (event === 'add') {
					add();
				}
			});
			
			// 单元格点击事件
			table.on('tool(brandTable)', function (obj) {
				var data = obj.data;
				switch (obj.event) {
					case 'edit':
						edit(data.brandId);
						break;
					case 'del':
						del(obj);
						break;
					default:
						break;
				}
			});
			
			function add() {
				layer.open({
					content: "/brand",
					title: "新增品牌",
					area: ['45%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload('brand-table');
					}
				});
			}
			
			function edit(id) {
				layer.open({
					content: "/brand/" + id,
					title: "编辑品牌",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload('brand-table');
					}
				});
			}
			
			function del(obj) {
				layer.confirm("确定删除品牌信息吗？其流程信息则一并删除！", {icon: 3, title: '提示'},
					function (index) {//确定回调
						var id = obj.data.brandId;
						$.post('/brand/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, deleteDone);
						});
					}, function (index) {//取消回调
						layer.close(index);
					}
				);
			}
			
			function addStep(brandId, type, rowNum) {
				layer.open({
					content: "/brand/step/" + brandId + "/" + type + "/" + rowNum,
					title: "新增流程",
					area: ['45%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload(childId);
					}
				});
			}
			
			function childEdit(id, type, index) {
				layer.open({
					content: '/brand/step/edit/' + type + '/' + id + '/' + index,
					title: "编辑流程",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload(childId);
					}
				});
			}
			
			function childDel(id, tableId) {
				layer.confirm("确定删除该流程？", {icon: 3, title: '提示'},
					function (index) {//确定回调
						$.post('/brand/step/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, delChildDone);
						});
					}, function (index) {//取消回调
						layer.close(index);
					}
				);
			}
			
			function swapSort(currentId, swapId) {
				$.post('/brand/step/swap', {currentId: currentId, swapId: swapId}, function (data) {
					layer.msg("交换成功");
					handlerResult(data, function () {
						refresh(childId);
					});
				});
            }
			
			function refresh(id) {
                table.reload(id);
            }
			
			function deleteDone(data) {
				parent.layer.msg("删除成功", {icon: 6});
				table.reload('brand-table');
			}
			
			function delChildDone(data) {
				parent.layer.msg("删除成功", {icon: 6});
				table.reload(childId);
			}
			
			form.on('submit(search)', function (form) {
				table.reload('brand-table', {
					where: form.field
				});
				return false;
			});
		});
	</script>
</body>

</html>