<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>保养单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/soulTable.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
</head>

<body>
	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>
	
	<div class="z-body animated fadeIn">
		<form class="layui-form zadmin-search-area input">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label for="maintenanceOrderId" class="layui-form-label">订单号</label>
					<div class="layui-input-inline">
						<input type="text" name="maintenanceOrderId" autocomplete="off"
							id="maintenanceOrderId" class="layui-input">
					</div>
					
					<label for="companyName" class="layui-form-label">客户</label>
					<div class="layui-input-inline">
						<input type="text" name="companyName" autocomplete="off"
							id="companyName" class="layui-input">
					</div>
					
					<label for="state" class="layui-form-label">状态</label>
					<div class="layui-input-inline">
						<select name="state" id="state">
							<option value="">请选择</option>
							<option value="0">保养单生成</option>
							<option value="1">待保养</option>
							<option value="2">保养中</option>
							<option value="3">保养完成</option>
							<option value="4">待回访</option>
							<option value="5">已回访</option>
						</select>
					</div>
					
					<button lay-submit="" lay-filter="search"
						class="layui-btn layui-btn-sm layui-btn-primary table-action">
						<i class="zadmin-icon zadmin-icon-search"></i>
					</button>
				</div>
			</div>
		</form>
		
		<table class="layui-hide" id="maintenance-table" lay-filter="maintenanceTable"></table>
	</div>
	
	<script type="text/html" id="column-toolbar">
		{{# if(d.state == 0) { }}
			<shiro:hasPermission name="maint:appoint">
				<a lay-event="appoint">
					<i class="layui-icon layui-icon-release zadmin-oper-area zadmin-blue" title="派单"></i>
				</a>
				<a lay-event="del">
					<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
				</a>
			</shiro:hasPermission>
		{{# } }}
		
		<shiro:lacksPermission name="maint:appoint">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red" title="无权限"></i>
		</shiro:lacksPermission>
	</script>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
    <script>
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['table', 'element', 'form', 'soulTable'], function () {
			var table = layui.table;
			var $ = layui.$;
			var form = layui.form;
			var soulTable = layui.soulTable;
			
			table.render({
				elem: '#maintenance-table',
				url: '/maintenance/list',
				page: true,
				overflow: {
					type: 'title',
					hoverTime: 500
				},
				cols: [
					[
						{title: '#', width: "4%", collapse: true, children:[
							{
								title: '保养记录追踪',
								url: function(row) {
									return '/maintenance/trace/' + row.maintenanceOrderId;
								},
								height: 300,
								page: false,
								overflow: {
									type: 'title',
									hoverTime: 500
								},
								cols: [
									[
										{field: 'faultCause', title: '描述', width: "65%"},
										{field: 'statusDesc', title: '状态', width: "10%"},
										{field: 'nickname', title: '记录人', width: "10%"},
										{field: 'maintenanceDate', title: '时间', width: "15%"}
									]
								],
								done: function () {
									soulTable.render(this);
								}
							}
						]},
						{field: 'maintenanceOrderId', title: '订单号', width: "15%"},
						{field: 'companyName', title: '客户', width: "15%"},
						{field: 'deviceName', title: '设备', width: "10%"},
						{field: 'createDate', title: '提请日期', width: "10%",
							templet: function(d) {
								return d.createDate.substr(0, 10);
							}
						},
						{field: 'maintenanceTime', title: '保养日期', width: "16%"},
						{field: 'stateDesc', title: '保养单状态', width: "10%"},
						{field: 'nickname', title: '当前负责人', width: "10%",
							templet: function(d) {
								if (d.state == '1' || d.state == '2') {
									return d.deptname;
								} else {
									return d.nickname;
								}
							}	
						},
						{title: '操作', fixed: 'right', width: "10%", align: 'center', toolbar: '#column-toolbar'}
					]
				],
				done: function() {
					soulTable.render(this);
				}
			});
			
			// 单元格点击事件
			table.on('tool(maintenanceTable)', function (obj) {
				var data = obj.data;
				var event = obj.event;
				if (event === 'appoint') {
					appoint(data.maintenanceOrderId);
				} else if (event === 'del') {
					del(data.maintenanceOrderId);
				}
			});
			
			function appoint(id) {
				layer.open({
                    content: '/maintenance/appoint/' + id,
                    title: "派单",
                    area: ['40%', '85%'],
                    type: 2,
                    maxmin: true,
                    shadeClose: true,
                    end: function () {
                        table.reload('maintenance-table');
                    }
                });
			}
			
			function del(id) {
				layer.confirm("确定删除用户吗?", {icon: 3, title: '提示'},
					function (index) {//确定回调
						$.post('/maintenance/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, deleteDone);
						});
					}, function (index) {//取消回调
						layer.close(index);
					}
				);
			}
			
			form.on('submit(search)', function (form) {
				table.reload('maintenance-table', {
					where: form.field
				});
				return false;
			});
			
			function deleteDone(data) {
				parent.layer.msg("删除成功", {icon: 6});
				table.reload('maintenance-table');
			}
		});
	</script>
</body>

</html>