<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>维修系统</title>
    <!-- zui -->
    <link th:href="@{/lib/zui/css/zui.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet">
    <link th:href="@{/css/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
    <link th:href="@{/lib/zui/lib/uploader/zui.uploader.min.css}" rel="stylesheet">
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet" >
    
    <style>
  	.ui-autocomplete {
	    max-height: 200px;
	    overflow-y: auto;
	    /* prevent horizontal scrollbar */
	    overflow-x: hidden;
	}
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  	html .ui-autocomplete {
	    height: 200px;
	}
	.ui-front{
		z-index:1500;
	}
	.bodyclass{
		 position:fixed;
	     top:0;
	     height: 100%;
	     overflow: hidden;
	}
  </style>
  </head>
  <body>
    <header style="height:32px;line-height:32px;background-color:#3280fc;border-color:#1970fc;text-align:center;">
    	<b style="color:#fff;font-size:15px;">首检</b>
    </header>
    <article>
    	<hr class="divider" style="height:10px;background-color:#eee;margin-right:-10px;">
    	<!-- 耗材 -->
    	<div id="consumablesDiv" style="height:200px;margin-left:8px;margin-right:8px;">
    		<div class="row" style="margin-top:8px;margin-bottom:8px;">
    			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><b>耗材</b></div>
    			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    				<button class="btn btn-mini btn-primary" type="button"  data-toggle="modal" data-target="#addMaterialModal">+材料</button>
    			</div>
    		</div>
		    <hr class="divider">
		    <div id="dataTableDiv">
		    	<table id="consumablesTable" class="display" style="width:100%;height:120px;"></table>
		    </div>
    	</div>
    	
    	<div id="accordion">
		  <div style="text-align:center;background-color:#eee;">
		    <a href="#collapseExample1" data-toggle="collapse" data-parent="#accordion" class="btn btn-link"><span class="caret"></span></a>
		  </div>
		  <div class="collapse" id="collapseExample1">
		    <div class="">
		      	<!-- 图片上传 -->
		    	<div id="uploadPictureDiv" style="height:140px;margin-left:8px;margin-right:8px;">
		    		<div class="row" style="margin-top:8px;margin-bottom:8px;">
		    			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><b>上传图片</b></div>
		    		</div>
				    <hr class="divider" style="margin-bottom:4px;">
				    <div class="layui-upload">
						<div class="layui-upload-list" style="width:100%;padding:8px 10px;border:1px solid #CECECE;">
						    <button type="button" id="uploadPictureBtn" class="layui-btn layui-btn-primary" style="margin-right:15px;height:80px;width:80px;border:1px solid #CECECE;">
							  	<i class="layui-icon">&#xe654;</i>图片
							</button>
							<img id="pic" style="width:80px;height:80px;">
						</div>
					</div>
				    <!-- <div id='pictureUploader' class="uploader">
					  <div class="uploader-message text-center">
					    <div class="content"></div>
					    <button type="button" class="close">×</button>
					  </div>
					  <div class="uploader-files file-list file-list-lg"></div>
					  <div>
					    <hr class="divider">
					    <div class="uploader-status pull-right text-muted"></div>
					    <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i> 选择图片</button>
					    <button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-cloud-upload"></i> 开始上传</button>
					  </div>
					</div> -->
		    	</div>
		    	
		    	<hr class="divider" style="height:10px;background-color:#eee;margin-left:-12px;margin-right:-12px;">
		    	<!-- 视频上传 -->
		    	<div id="uploadVideoDiv" style="height:140px;margin-left:8px;margin-right:8px;">
		    		<div class="row" style="margin-top:8px;margin-bottom:8px;">
		    			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><b>上传视频</b></div>
		    		</div>
				    <hr class="divider" style="margin-bottom:4px;">
				    <div class="layui-upload">
						<div class="layui-upload-list" style="width:100%;padding:8px 10px;border:1px solid #CECECE;">
						    <button type="button" id="uploadVedioBtn" class="layui-btn layui-btn-primary" style="margin-right:15px;height:80px;width:80px;border:1px solid #CECECE;">
							  	<i class="layui-icon">&#xe654;</i>视频
							</button>
							<span id="videoSpan"></span>
						</div>
					</div>
				    <!-- <div id='videoUploader' class="uploader">
					  <div class="uploader-message text-center">
					    <div class="content"></div>
					    <button type="button" class="close">×</button>
					  </div>
					  <div class="uploader-files file-list file-list-lg"></div>
					  <div>
					    <hr class="divider">
					    <div class="uploader-status pull-right text-muted"></div>
					    <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i> 选择视频</button>
					    <button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-cloud-upload"></i> 开始上传</button>
					  </div>
					</div> -->
		    	</div>
		    	
		    	<hr class="divider" style="height:10px;background-color:#eee;margin-left:-12px;margin-right:-12px;">
		    </div>
		  </div>
		 </div>
		 
		 <!-- 故障描述 -->
		 <div id="faultDescriptionDiv" style="height:120px;margin-left:8px;margin-right:8px;">
		    <div class="row" style="margin-top:8px;margin-bottom:8px;">
		    	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><b>故障描述</b></div>
		    </div>
			<hr class="divider" style="margin-bottom:8px;">
			<div>
				<textarea class="form-control" rows="3" id="faultDescription" name="faultDescription" placeholder="故障描述"></textarea>
			</div>
		</div>
		 
		<hr class="divider" style="height:10px;background-color:#eee;margin-right:-10px;">
    	<!-- 提交 -->
    	<div id="submitDiv">
    		<button id="submitBtn" class="btn btn-primary btn-block " type="button" th:onclick="'firstInspectionSubmit();'">提交</button>
    	</div>
    	
    	<div class="modal fade" id="addMaterialModal">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
			            <button id="btnCloseSendEmail" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
			            <h4 class="modal-title">材料选择</h4>
			        </div>
			        <div class="modal-body">
			            <form class="form-horizontal" id="materialForm">
						  <div class="form-group">
						    <label for="materialName" class="col-md-4 col-sm-4">材料名</label>
						    <div class="col-md-8 col-sm-8">
						      <input type="text" class="form-control" id="materialName" name="materialName" placeholder="材料名" data-bv-notempty="true" data-bv-notempty-message="材料名不能为空">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="materialAmount" class="col-md-4 col-sm-4">数量</label>
						    <div class="col-md-8 col-sm-8">
						      <input type="text" class="form-control" id="materialAmount" name="materialAmount" placeholder="材料数量" data-bv-notempty="true" data-bv-notempty-message="材料数量不能为空">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-md-8 col-sm-8">
						      <input type="hidden" class="form-control" id="materialId" name="materialId" placeholder="matrialId">
						    </div>
						  </div>
						</form>
			        </div>
			        <div class="modal-footer" align="center">
			            <button type="button" class="btn btn-primary" style="border:0px;" th:onclick="'addMaterialSubmit();'">提交</button>
			        </div>
		        </div>
		    </div>
		</div>
    </article>

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script th:src="@{/lib/zui/js/zui.min.js}"></script>
    <script th:src="@{/js/jquery.serializejson.min.js}"></script>
    <script th:src="@{/js/bootstrapValidator.min.js}"></script>
    <script th:src="@{/js/datatables.min.js}"></script>
    <script th:src="@{/lib/zui/lib/uploader/zui.uploader.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:inline="javascript">
    var uploadedPictureName=""; //已上传的图片名
    var uploadedVideoName = ""; //已上传的视频名
    $(document).ready(function() {
    	
    	layui.use(['upload'], function(){
  		  upload = layui.upload;
  		  
  		  //上传视频
  		  var uploadInst = upload.render({
  		    elem: '#uploadVedioBtn' //绑定元素
  		    ,url: '/mobile/uploadFile' //上传接口
  		    ,auto: true
  		    ,accept: 'video'
  		    ,acceptMime: 'video/*'
  		    ,data: {
  		    	fileType: 'video'
  		    }
  		  	,size: 10240
  		  	,number: 1
  		  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
  		  		//预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
  		  	    obj.preview(function(index, file, result){
  		  	    	$('#videoSpan').text(beautySub(file.name, 13)); //视频文件名
  		  	    });
  		  	    layer.load(); //上传loading
  		    }
  		    ,done: function(res, index, upload){
  		    	layer.closeAll('loading'); //关闭loading
  		    	if(res.code == 0){
  		    		uploadedVideoName = res.msg;
  		    		layer.msg('视频上传成功', {icon: 1});
  		    	}else{
  		    		layer.alert(res.msg, {icon: 2});
  		    	}
  		    }
  		    ,error: function(){
  		    	layer.closeAll('loading'); //关闭loading
  		    }
  		  });
  		  
  		  //上传图片
  		  var uploadInst = upload.render({
  		    elem: '#uploadPictureBtn' //绑定元素
  		    ,url: '/mobile/uploadFile' //上传接口
  		    ,auto: true
  		    ,accept: 'images'
  		    ,acceptMime: 'image/*'
  		    ,data: {
  		    	fileType: 'picture'
  		    }
  		  	,size: 10240
  		  	,number: 1
  		  	,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
  		  		//预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
  		  	    obj.preview(function(index, file, result){
  		  	    	$('#pic').attr('src', result); //图片链接（base64）
  		  	    });
  		  	    layer.load(); //上传loading
  		    }
  		    ,done: function(res, index, upload){
  		    	layer.closeAll('loading'); //关闭loading
  		    	if(res.code == 0){
  		    		uploadedPictureName = res.msg;
  		    		layer.msg('图片上传成功', {icon: 1});
  		    	}else{
  		    		layer.alert(res.msg, {icon: 2});
  		    	}
  		    }
  		    ,error: function(){
  		    	layer.closeAll('loading'); //关闭loading
  		    }
  		  });
  		});

    	$('#addMaterialModal').modal({
    		backdrop : 'static',
    		show: false
    	});
    	$('#addMaterialModal').on('shown.zui.modal', function() {
    		$("body").addClass('bodyclass');
    		
    		$.ajax({
		        type: "POST",
			    data: "",
			    dataType: "json",
		        url: "/mobile/getMetrials",
		        async: false,
		        contentType: "application/json",
		        success:function(responseData){
		        	if(responseData.code == 0){
		        		$( "#materialName" ).autocomplete( "option", "source", responseData.data );
		        	}else{
		        		alert(responseData.msg);
		        	}
		     	},
		     	error: function () {
		     		alert("获取材料列表失败");
			 	}
		    });
    		
    	});
    	$('#addMaterialModal').on('hidden.zui.modal', function() {
    		$("#materialId").val(""),
	        $("#materialName").val(""),
	        $("#materialAmount").val("")
    		$("body").removeClass('bodyclass');
  		});
    	
    	$( "#materialName" ).autocomplete({
    		minLength: 1,
    	    source: [],
    	    focus: function( event, ui ) {
    	        $( this ).val( ui.item.label );
    	        return false;
    	    },
    	    select: function (event, ui) {
    	    	event.preventDefault();
    	    	$( this ).val( ui.item.label );
    	    	$("#materialId").val(ui.item.value);
				
    	        return false;
    	    }
    	}).autocomplete( "instance" )._renderItem = function( ul, item ) {
    	      return $( "<li>" )
    	      	.attr( "data-value", item)
    	        .append( "<div>" + item.label + "</div>" )
    	        .appendTo( ul );
    	    };
    	
        $('#consumablesTable').DataTable( {
            "scrollY": "120px",
            "scrollCollapse": true,
            "paging": false,
            "searching": false,
            "ordering": false,
            "info": false,
            
            "data": [],
            "columns": [
                {"title": "ID", "name":"materialId", "targets":"0", "data": "materialId" ,"visible": true,"type": "string", className: "text-center"},
                {"title": "材料名", "name":"materialName", "targets":"1", "data": "materialName" ,"visible": true,"type": "string", className: "text-center"},
                {"title": "数量", "name":"materialAmount", "targets":"2", "data": "materialAmount" ,"visible": true,"type": "string", className: "text-center"},
                {
                    "targets": -1,
                    "data": null,
                    "bSortable": false,
                    "defaultContent": "<a onclick='delRow(this);'>删除</a>"
                } 
            ]
        } );
    } );
    
    /*上传图片*/
    /* $('#pictureUploader').uploader({
	  	autoUpload: false,             // 当选择文件后立即自动进行上传操作
		url: '/mobile/uploadFile',  // 文件上传提交地址
		multipart_params:{ fileType: 'picture'},
		limitFilesCount:1,            //限定文件上传的数目
		dropPlaceholder:false,
		uploadedMessage:true,
		sendFileName:true,       //发送文件名称
		chunk_size:0,		  //不启动分片上传
		removeUploaded:false,          //移除已上传的文件
		unique_names:true,        //为文件分配唯一文件名
		max_retries:2,         //当上传失败时的最大尝试次数
		multi_selection:false,        //是否可用一次选取多个文件
		filters:{
		    // 只允许上传图片或图标（.ico）
		    mime_types: [
		        {title: '图片', extensions: 'jpg,gif,png,jpeg,bmp',mimeTypes: 'image/*'}
		    ],
		    max_file_size: '5mb',     // 最大上传文件为 5MB
		    prevent_duplicates: true  // 不允许上传重复文件
		},
		onFileUploaded:function(file, responseObject){
			if(responseObject.status==200){
				console.log("msg:"+responseObject.response)
				
				uploadedPictureName = responseObject.response;
			}
			console.log("fileId:"+file.id+",fileName:"+file.name);
		},
		onError:function(error){
			console.log("文件上传失败，code="+error.code+",msg:"+error.message);
		},
		deleteActionOnDone:function(file, doRemoveFile){
			alert("已上传的文件不可删除");
			console.log("fileId:"+file.id+",fileName:"+file.name);
		}
    });*/
    
    /*上传视频*/
    /* $('#videoUploader').uploader({
	  	autoUpload: false,             // 当选择文件后立即自动进行上传操作
		url: '/mobile/uploadFile',  // 文件上传提交地址
		multipart_params:{ fileType: 'video'},
		limitFilesCount:1,            //限定文件上传的数目
		dropPlaceholder:false,
		uploadedMessage:true,
		sendFileName:true,       //发送文件名称
		chunk_size:0,		  //不启动分片上传
		removeUploaded:false,          //移除已上传的文件
		unique_names:true,        //为文件分配唯一文件名
		max_retries:2,         //当上传失败时的最大尝试次数
		multi_selection:false,        //是否可用一次选取多个文件
		filters:{
		    // 只允许上传图片或图标（.ico）
		    mime_types: [
		        {title: '视频', extensions: 'mp4',mimeTypes: 'video/*'}
		    ],
		    max_file_size: '10mb',     // 最大上传文件为 10MB
		    prevent_duplicates: true  // 不允许上传重复文件
		},
		onFileUploaded:function(file, responseObject){
			if(responseObject.status==200){
				console.log("msg:"+responseObject.response)
				//写个上传成功标志，只有当上传成功之后才可以提交
				uploadedVideoName = responseObject.response;
			}
			console.log("fileId:"+file.id+",fileName:"+file.name);
		},
		onError:function(error){
			console.log("code="+error.code+",msg:"+error.message);
		},
		deleteActionOnDone:function(file, doRemoveFile){
			alert("已上传的文件不可删除");
			console.log("fileId:"+file.id+",fileName:"+file.name);
			
		}
    }); */
    
    /*增加材料*/
    function addMaterialSubmit(){
    	$("#materialForm").bootstrapValidator('validate');
		if ($("#materialForm").data('bootstrapValidator').isValid()){
			var table = $('#consumablesTable').DataTable();
			 
			table.row.add( {
			        "materialId":       $("#materialId").val(),
			        "materialName":   $("#materialName").val(),
			        "materialAmount":     $("#materialAmount").val()
			    } ).draw();
			$('#addMaterialModal').modal('hide');
		}
    }
    
    /*首检结果提交*/
    function firstInspectionSubmit(){
    	
    	var tableData = $('#consumablesTable').DataTable().data();
    	var materials=[];
    	$.each(tableData,function(k, v){
    		materials.push(v);
    	});
    	var materialsJson=JSON.stringify(materials);
    	
    	$.ajax({
	        type: "POST",
		    data: "materials="+encodeURIComponent(materialsJson)
		    +"&uploadedVideoName="+uploadedVideoName
		    +"&uploadedPictureName="+uploadedPictureName
		    +"&faultDescription="+$("#faultDescription").val()
		    +"&orderId="+[[${orderId}]],
		    dataType: "json",
	        url: "/mobile/saveFirstInspection",
	        async: false,
	        success:function(responseData){
	        	if(responseData.code == 0){
	        		alert(responseData.msg);
	        		window.location.href="/mobile/toSearchOrder";
	        	}else{
	        		alert(responseData.msg);
	        	}
	     	},
	     	error: function () {
	     		alert("首检所用材料保存失败！");
		 	}
	    });
    }
    
    /*删除*/
     function delRow (delCol) {
        var data = $('#consumablesTable').DataTable()
        .row( $(delCol).parents('tr') )
        .remove()
        .draw();
    }
    
     /* * 
     用途：js中字符串超长作固定长度加省略号（...）处理
     参数说明：
        str:需要进行处理的字符串，可含汉字
        len:需要显示多少个汉字，两个英文字母相当于一个汉字。
     */
     function beautySub(str, len) {
       var reg = /[\u4e00-\u9fa5]/g,    //专业匹配中文
           slice = str.substring(0, len),
           chineseCharNum = (~~(slice.match(reg) && slice.match(reg).length)),
           realen = slice.length*2 - chineseCharNum;
       return str.substr(0, realen) + (realen < str.length ? "..." : "");
     }
    </script>
  </body>
</html>