<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>维修系统</title>
    <!-- zui -->
    <link th:href="@{/lib/zui/css/zui.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet">
  </head>
  <body>
    <header style="text-align:center;margin-top:80px;"><h2>登录</h2></header>
    <article>
      <div style="padding: 20px;border: 1px solid #ddd;margin:20px;">
        <form id="mobileLogin">
		  <div class="form-group">
		    <label for="mobileAccount" class="required">账号</label>
		    <input type="text" class="form-control" id="mobileAccount" name="mobileAccount" 
		    placeholder="用户名" data-bv-notempty="true" data-bv-notempty-message="账号不能为空">
		  </div>
		  <div class="form-group">
		    <label for="mobilePassword" class="required">密码</label>
		    <input type="password" class="form-control" id="mobilePassword" name="mobilePassword" 
		    placeholder="密码" data-bv-notempty="true" data-bv-notempty-message="密码不能为空">
		  </div>
		</form>
		<button class="btn btn-primary" th:onclick="'login();'">提交</button>
      </div>
    </article>

    <script th:src="@{/lib/zui/lib/jquery/jquery.js}"></script>
    <script th:src="@{/lib/zui/js/zui.min.js}"></script>
    <script th:src="@{/js/jquery.serializejson.min.js}"></script>
    <script th:src="@{/js/bootstrapValidator.min.js}"></script>
    <script type="text/javascript">
    
	    function login(){
	    	$("#mobileLogin").bootstrapValidator('validate');
			if ($("#mobileLogin").data('bootstrapValidator').isValid()){
		    	var data = $("#mobileLogin").serializeJSON();
				var dataJson = JSON.stringify(data);
				$.ajax({
			        type: "POST",
				    data: dataJson,
				    dataType: "json",
			        url: "/mobile/login",
			        async: false,
			        contentType: "application/json",
			        success:function(data){
			        	if(data.code == 0){
			        		window.location.href="/mobile/toSearchOrder";
			        	}else{
			        		alert(data.msg);
			        	}
			     	},
			     	error: function () {
			     		alert("登录失败！");
				 	}
			    });
			}
	    }
    </script>
  </body>
</html>