<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>维修系统</title>
    <!-- zui -->
    <link th:href="@{/lib/zui/css/zui.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrapValidator.min.css}" rel="stylesheet">
  </head>
  <body style="background-color:#eee;">
    <header>
    	<div class="row" style="text-align:center;margin-top:20px;">
    		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	    	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
	    		<div class="input-group">
				  <div class="input-control search-box has-icon-left has-icon-right search-example" id="searchbox">
				    <input id="inputSearch" type="search" class="form-control search-input" placeholder="订单号">
				    <label for="inputSearch" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
				  </div>
				  <span class="input-group-btn">
				    <button class="btn btn-primary" type="button" th:onclick="'searchOrder();'">搜索</button>
				  </span>
				</div>
	    	</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    	</div>
	</header>
    <article>
      <div id="ordersShowArea" style="margin-top:30px;"></div>
    </article>

    <script th:src="@{/lib/zui/lib/jquery/jquery.js}"></script>
    <script th:src="@{/lib/zui/js/zui.min.js}"></script>
    <script th:src="@{/js/jquery.serializejson.min.js}"></script>
    <script th:src="@{/js/bootstrapValidator.min.js}"></script>
    <script type="text/javascript">
	    $(document).ready(function(){});
	    
	    function searchOrder(){
	    	$.ajax({
		        type: "POST",
			    data: "order_id="+$("#inputSearch").val(),
			    dataType: "json",
		        url: "/mobile/searchOrder",
		        async: false,
		        success:function(responseData){
		        	if(responseData.code == 0){
		        		if(responseData.data != null){
		        			var orderDetailHtml = "";
			        		for(var i = 0; i < responseData.data.length; i++){
				        		var order = responseData.data[i];
				        		orderDetailHtml = orderDetailHtml+"<div class='orderDetail' onclick='getOrderDetail(\""+order.orderId+"\");' style='margin:10px;border: 0px solid #ddd;background-color:#fff;'>" +
				        		"   <div style='height:30px;line-height:30px;''>" +
		        				"   	<div class='pull-left'><p style='margin-left:4px;margin-bottom:0px;'>"+order.orderType+"</p></div>" +
	       						"    	<div class='pull-right'><p style='margin-right:4px;margin-bottom:0px;''>"+order.orderStatus+"</p></div>" +
	    						"   </div>" +
				        		"   <hr class='divider'>" +
				        		"	<div style='height:50px;'>" +
				        		"   	<div style='margin-left:4px;height:25px;line-height:25px;'>设备名："+beautySub(order.deviceName, 18)+"</div>" +
				        		"		<div style='margin-left:4px;height:25px;line-height:25px;'>地址："+beautySub(order.deviceAddr, 18)+"</div>" +
				        		"	</div>"	+
				        		"   <hr class='divider'>" +
				        		"	<div style='height:40px;line-height:40px;'><p style='margin-left:4px;margin-bottom:0px;'>订单号："+order.orderId+"</p></div>" +
				        		"</div>";
			        		}
			        		console.log(orderDetailHtml);
			        		$("#ordersShowArea").html(orderDetailHtml);
			        	}else{
			        		$("#ordersShowArea").html("未查到相应的订单信息");
			        	}
		        	}else{
		        		alert(responseData.msg);
		        	}
		     	},
		     	error: function () {
		     		alert("获取订单信息失败！");
			 	}
		    });
	    }
	    
	    /*获取订单明细*/
	    function getOrderDetail(orderId){
	    	console.log("orderId:"+orderId);
	    	window.location.href="/mobile/toOrderDetail?orderId="+orderId;
	    }
	    
	    /* * 
	    用途：js中字符串超长作固定长度加省略号（...）处理
	    参数说明：
	       str:需要进行处理的字符串，可含汉字
	       len:需要显示多少个汉字，两个英文字母相当于一个汉字。
	    */
	    function beautySub(str, len) {
	    	console.log(str.length);
	        var reg = /[\u4e00-\u9fa5]/g,    //专业匹配中文
	            slice = str.substring(0, len),
	            chineseCharNum = (~~(slice.match(reg) && slice.match(reg).length)),
	            realen = slice.length*2 - chineseCharNum;
	        return str.substr(0, realen) + (realen < str.length ? "..." : "");
	    }
    </script>
  </body>
</html>