<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>大客户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/soulTable.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
</head>

<body>
	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>
	
	<div class="z-body animated fadeIn">
		<form class="layui-form zadmin-search-area input">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label for="companyName" class="layui-form-label">客户</label>
					<div class="layui-input-inline">
						<input type="text" name="companyName" autocomplete="off"
							id="companyName" class="layui-input">
					</div>
					
					<button lay-submit="" lay-filter="search"
						class="layui-btn layui-btn-sm layui-btn-primary table-action">
						<i class="zadmin-icon zadmin-icon-search"></i>
					</button>
				</div>
			</div>
		</form>
		
		<table class="layui-hide" id="vip-table" lay-filter="vipTable"></table>
	</div>
	
	<script type="text/html" id="toolbar">
		<shiro:hasPermission name="user:add">
			<button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
				<i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
					新增
			</button>
		</shiro:hasPermission>
	</script>
	
	<script type="text/html" id="column-toolbar">
		<shiro:hasPermission name="user:update">
			<a lay-event="addDevice">
				<i class="zadmin-icon zadmin-icon-plus zadmin-oper-area zadmin-blue" title="设备录入"></i>
			</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="user:update">
			<a lay-event="edit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="user:delete">
			<a lay-event="del">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>
		
		<shiro:lacksPermission  name="user:update,user:delete">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
		</shiro:lacksPermission>
	</script>
	
	<script type="text/html" id="children-column-toolbar">
		<shiro:hasPermission name="user:update">
			<a lay-event="keepFit">
				<i class="layui-icon layui-icon-util zadmin-oper-area zadmin-blue" title="保养"></i>
			</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="user:update">
			<a lay-event="childEdit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>
		<shiro:hasPermission name="user:delete">
			<a lay-event="childDel">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>
		
		<shiro:lacksPermission  name="user:update,user:delete">
			<i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
			</shiro:lacksPermission>
	</script>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
    <script>
		var childId;
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['table', 'element', 'form', 'soulTable'], function () {
			var table = layui.table;
			var $ = layui.$;
			var form = layui.form;
			var dtree = layui.dtree;
			var soulTable = layui.soulTable;
			
			table.render({
				elem: '#vip-table',
				url: '/vip/list',
				page: true,
				toolbar: '#toolbar',
				defaultToolbar: null,
				overflow: {
					type: 'title',
					hoverTime: 500
				},
				cols: [
					[
						{title: '#', width: "4%", collapse: true, children:[
							{
								title: '设备信息',
								url: function(row) {
									return '/device/list/' + row.companyId;
								},
								height: 180,
								page: false,
								overflow: {
									type: 'title',
									hoverTime: 500
								},
								cols: [
									[
										{field: 'serialNumber', title: '设备编号', width: "10%"},
										{field: 'deviceName', title: '设备名称', width: "15%"},
										{field: 'brandName', title: '品牌', width: "10%"},
										{field: 'code', title: '型号', width: "10%"},
										{field: 'address', title: '设备地址', width: "25%"},
										{field: 'years', title: '使用年数', width: "8%"},
										{field: 'lastMaintenanceTime', title: '上次维护', width: "10%",
											templet: function(d) {
												return d.lastMaintenanceTime.substr(0, 10);
											}	
										},
										{title: '操作', fixed: 'right', align: 'center', toolbar: '#children-column-toolbar', width: "12%"}
									]
								],
								toolEvent: function(obj, pobj) {
									// obj 子表当前行对象
									// pobj 父表当前行对象
									childId = this.id; // 通过 this 对象获取当前子表的id
									if (obj.event === 'keepFit') {
										keepFit(obj.data.deviceId, childId);
			                        } else if (obj.event === 'childEdit') {
			                        	childEdit(obj.data.deviceId, childId);
			                        } else if (obj.event === 'childDel') {
			                        	childDel(obj.data.deviceId, childId);
			                        }
								},
								done: function() {
									soulTable.render(this);
								}
							}
						]},
						{field: 'companyId', title: 'ID', hide: true},
						{field: 'companyName', title: '客户', width: "20%"},
						{field: 'companyAddress', title: '地址', width: "35%"},
						{field: 'contact', title: '联系人', width: "13%"},
						{field: 'phone', title: '联系电话', width: "13%"},
						{title: '操作', fixed: 'right', align: 'center', toolbar: '#column-toolbar', width: "15%"}
					]
				],
				done: function() {
					soulTable.render(this);
				}
			});
			
			// 工具条点击事件
			table.on('toolbar', function (obj) {
				var data = obj.data;
				var event = obj.event;
				
				if (event === 'add') {
					add();
				}
			});
			
			table.on('tool(vipTable)', function (obj) {
				var data = obj.data;
				var event = obj.event;
				var index = obj.tr.data('index');	//当前行索引
				if (event === 'edit') {
					edit(data.companyId);
				} else if (event === 'del') {
					del(obj);
				} else if (event === 'addDevice') {
					addDevice(data.companyId, index);
				}
			});
			
			function add() {
				layer.open({
					content: "/vip",
					title: "新增大客户",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload('vip-table');
					}
				});
			}
			
			function edit(id) {
				layer.open({
					content: "/vip/" + id,
					title: "编辑大客户",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload('vip-table');
					}
				});
			}
			
			function del(obj) {
				layer.confirm("确定删除大客户吗？其设备信息则一并删除！", {icon: 3, title: '提示'},
					function (index) {//确定回调
						var id = obj.data.companyId;
						$.post('/vip/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, deleteDone);
						});
					}, function (index) {//取消回调
						layer.close(index);
					}
				);
			}
			
			function addDevice(companyId, index) {
				layer.open({
					content: "/device?company=" + companyId,
					title: "新增设备",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload(childId);
					}
				});
			}
			
			function keepFit(deviceId, tableId) {
				layer.open({
					content: "/maintenance/" + deviceId,
					title: "保养单",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload(tableId);
					}
				});
			}
			
			function childEdit(id, tableId) {
				layer.open({
					content: "/device/" + id,
					title: "编辑设备",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						table.reload(tableId);
					}
				});
			}
			
			function childDel(id, tableId) {
				childTableId = tableId;
				layer.confirm("确定删除设备信息吗？", {icon: 3, title: '提示'},
					function (index) {//确定回调
						$.post('/device/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, delChildDone);
						});
					}, function (index) {//取消回调
						layer.close(index);
					}
				);
			}
			
			function deleteDone(data) {
				parent.layer.msg("删除成功", {icon: 6});
				table.reload('vip-table');
			}
			
			function delChildDone(data) {
				parent.layer.msg("删除成功", {icon: 6});
				table.reload(childId);
			}
			
			form.on('submit(search)', function (form) {
				table.reload('vip-table', {
					where: form.field
				});
				return false;
			});
		});
	</script>
</body>

</html>