<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>首页</title>
	
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon.ico}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon.ico}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon.ico}">
	<link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/css/zadmin.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/lib/layui/extend/font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1179208_6sxekl4z8m7.css">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<!-- logo 区域 -->
			<div class="layui-logo">
				<img th:src="@{/images/security.png}" alt="logo"/>
				<cite>&nbsp;Device Maint&emsp;</cite>
			</div>
			
			<!-- 头部区域 -->
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item" lay-unselect>
					<a lay-event="flexible" title="侧边伸缩">
						<i class="layui-icon layui-icon-shrink-right"></i>
					</a>
				</li>
				<!-- 面包屑 -->
				<span class="layui-breadcrumb layui-anim layui-anim-up">
					<a><cite>首页</cite></a>
				</span>
			</ul>
			
			<!-- 头像区域 -->
			<!-- <ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<a lay-event="#"><i class="layui-icon layui-icon-notice"></i></a>
				</li>
				
				<li class="layui-nav-item">
					<a lay-event="clear" title="清理标签缓存">
						<img th:src="@{/images/clear.png}" alt="" style="height: 18px;"/>
						<i class="layui-icon layui-icon-refresh-1"></i>
					</a>
				</li>
				
				<li class="layui-nav-item">
					<a>
						<img th:src="@{/images/avatar.png}" class="layui-nav-img" alt="头像">
						<i class="layui-icon layui-icon-user"></i>
						<cite><shiro:principal property="nickname"/></cite>
						<span class="layui-nav-more"></span>
					</a>
					<dl class="layui-nav-child layui-anim layui-anim-upbit">
						<dd lay-unselect>
							<a href="#">个人中心</a>
						</dd>
						<dd lay-unselect>
							<a href="/user/1/reset">修改密码</a>
						</dd>
						<hr>
						<dd lay-unselect>
							<a onclick="logout()">退出</a>
						</dd>
					</dl>
				</li>
			</ul> -->
			
			<ul class="layui-nav layui-layout-right">
	            <!--<li class="layui-nav-item timo-search">
	              <input class="timo-search-input" type="search" placeholder="搜索">
	              <button class="timo-search-button"><i class="fa fa-search"></i></button>
	            </li>-->
	            <!-- <li class="layui-nav-item">
	                <a href="#">
	                    <i class="fa fa-bell-o fa-lg"></i>
	                </a>
	            </li>
	            <li class="layui-nav-item">
	                <a class="timo-screen-full" href="#">
	                    <i class="fa layui-icon layui-icon-screen-full"></i>
	                </a>
	            </li> -->
	            <li class="layui-nav-item timo-nav-user">
	                <a class="timo-header-nickname">
	                	<cite><shiro:principal property="nickname"/></cite>
	                	<!-- <span class="layui-nav-more layui-nav-mored"></span> -->
	                </a>
	                <div class="layui-nav-child">
	                    <div class="timo-nav-child-box">
							<div>
	                        	<!-- <a class="open-popup" data-title="个人信息" th:attr="data-url=@{/user/userInfo}" data-size="680,464">
									<i class="fa fa-user-o"></i>个人信息
								</a> -->
								<a class="open-popup" data-title="个人信息" href="#" data-size="none">
									<i class="fa fa-user-o"></i>
										个人信息
								</a>
							</div>
							<div>
								<a class="open-popup" data-title="修改密码" th:attr="data-url=@{/user/editPwd}" data-size="456,319">
									<i class="fa fa-lock" style="font-size:17px;width:12px;"></i>
										修改密码
								</a>
							</div>
	                        <div>
	                        	<a th:href="@{/logout}">
	                        		<i class="fa fa-power-off"></i>
	                        			退出登录
	                        	</a>
	                        </div>
	                    </div>
	                </div>
	            </li>
	        </ul>
		</div>
		
		<!-- 左侧导航区域 -->
		<div class="layui-side">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree" lay-filter="lay-nav" lay-accordion="true">
					<li class="layui-nav-item layui-this">
						<a data-th-lay-url="@{/welcome(timestamp=${new java.util.Date().getTime()})}" lay-id="home">
							<i class="layui-icon layui-icon-home"></i>&emsp;<cite>首页</cite>
						</a>
					</li>
					
					<li class="layui-nav-item" th:each="menu:${menus}">
						<a data-th-lay-id="${menu.url}" data-th-lay-url="${menu.url}">
							<i class="iconfont" th:classappend="${menu.icon}"></i>&emsp;
							<cite th:text="${menu.menuName}"></cite>
						</a>
						<dl th:if="${!#lists.isEmpty(menu.children)}" class="layui-nav-child">
							<dd th:each="child:${menu.children}">
								<a data-th-lay-id="${child.url}" data-th-lay-url="${child.url}">
									<cite th:text="${child.menuName}"></cite>
								</a>
								<th:block th:unless="${#lists.isEmpty(child.children)}" th:include="common/public::menu(${child})" />
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="layui-body">
			<div class="layui-pagetabs">
				<div class="layui-icon admin-tabs-control layui-icon-refresh-3" lay-event="refresh"></div>
				<div class="layui-tab" lay-unauto lay-allowclose="true" lay-filter="lay-tab">
					<ul class="layui-tab-title">
						<li lay-id="home" data-th-lay-url="@{/welcome(timestamp=${new java.util.Date().getTime()})}" class="layui-this"><i
							class="layui-icon layui-icon-home"></i></li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<iframe th:src="@{/welcome(timestamp=${new java.util.Date().getTime()})}" class="layui-iframe"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 底部固定区域 -->
		<div class="layui-footer">
			copyright © 2019 Z-Admin all rights reserved.
		</div>
		<!-- 移动端遮罩 -->
		<div class="site-mobile-shade"></div>
	</div>
	
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script>
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['form'], function () {
			var $ = layui.$;
			var form = layui.form;
			
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?407751f44c2fb9c2e7b5b5d3b856fbc1";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
			
			$(document).on("click", ".open-popup, .open-popup-param", function () {
				var title = $(this).data("title");
				var url = $(this).attr("data-url");
				var size = $(this).attr("data-size");
				if (size === undefined || size === "auto") {
					size = ['50%', '80%'];
				} else if (size === "max") {
					size = ['100%', '100%'];
				} else if (size.indexOf(',') !== -1) {
					var split = size.split(",");
					size = [split[0] + 'px', split[1] + 'px'];
				} else {
					return false;
				}
				window.layerIndex = layer.open({
					type: 2,
					title: title,
					shadeClose: true,
					maxmin: true,
					area: size,
					content: [url, 'on']
				});
			});
			
			function logout() {
				sessionStorage.removeItem("tabs");
				sessionStorage.removeItem("currentTabId");
				window.location = "logout";
			}
		});
	</script>
</body>
</html>