<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
</head>

<body>
	<div class="z-body animated fadeIn">
		<blockquote class="layui-elem-quote">欢迎：
			<span><shiro:principal property="nickname"/></span>！当前时间: [[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}]]</blockquote>
		<fieldset class="layui-elem-field">
			<legend>数据统计</legend>
			<div class="layui-field-box">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body">
							<div class="layui-carousel z-admin-carousel z-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
								<div carousel-item="">
									<ul class="layui-row layui-col-space10 layui-this">
										<li class="layui-col-xs2">
											<a href="#" onclick="openTab('用户管理', '/user/index')" class="z-admin-backlog-body">
												<h3>用户数</h3>
												<p>
													<cite th:text="${userCount}"></cite>
												</p>
											</a>
										</li>
										<li class="layui-col-xs2">
											<a href="#" onclick="openTab('角色管理', '/role/index')" class="z-admin-backlog-body">
												<h3>角色数</h3>
												<p>
													<cite th:text="${roleCount}"></cite>
												</p>
											</a>
										</li>
										<li class="layui-col-xs2">
											<a href="#" onclick="openTab('菜单管理', '/menu/index')" class="z-admin-backlog-body">
												<h3>菜单数</h3>
												<p>
													<cite th:text="${menuCount}"></cite>
												</p>
											</a>
										</li>
                                        <!-- <li class="layui-col-xs2">
                                            <a href="#" onclick="openTab('登录日志', '/log/login/index')" class="z-admin-backlog-body">
                                                <h3>登录日志</h3>
                                                <p>
                                                    <cite th:text="${loginLogCount}"></cite>
                                                </p>
                                            </a>
                                        </li> -->
                                        <!-- <li class="layui-col-xs2">
                                            <a href="#" onclick="openTab('操作日志', '/log/sys/index')" class="z-admin-backlog-body">
                                                <h3>操作日志</h3>
                                                <p>
                                                    <cite th:text="${sysLogCount}"></cite>
                                                </p>
                                            </a>
                                        </li> -->
										<shiro:hasRole name="首检人">
											<li class="layui-col-xs2">
												<a href="#" onclick="openTab('维修单管理', '/maint/index')" class="z-admin-backlog-body">
													<h3>维修申请</h3>
													<p>
														<cite th:text="${maintCount}"></cite>
													</p>
												</a>
											</li>
										</shiro:hasRole>
										<li class="layui-col-xs2">
											<a href="#" onclick="openTab('在线人数', '/online/index')" class="z-admin-backlog-body">
												<h3>在线人数</h3>
												<p>
													<cite th:text="${userOnlineCount}"></cite>
												</p>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset class="layui-elem-field">
			<legend>最近业务</legend>
			<div class="layui-field-box">
				<div id="main" style="width: 100%;height:400px;"></div>
			</div>
		</fieldset>
	</div>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/lib/echarts/echarts.min.js}"></script>
	
	<script type="application/javascript">
		layui.use('element', function(){
			layui.$("#main").css("width", (window.innerWidth - 100) +'px');
			// 基于准备好的dom，初始化echarts实例
			var myChart = echarts.init(document.getElementById('main'));
			// 指定图表的配置项和数据
			option = {
				title: {
					text: '近七天维修保养统计图',
					left: 'center'
				},
				legend: {
					left: 'right',
					orient: 'vertical',
			        data:['维修申请', '保养申请', '维修完成', '保养完成']
			    },
				tooltip: {
					trigger: 'axis',
					axisPointer: { // 坐标轴指示器，坐标轴触发有效
						type: 'none' // 默认为直线，可选为：'line' | 'shadow'
					}
				},
				xAxis: {
					type: 'category',
					data:  getWeekList()
				},
				yAxis: {
					type: 'value',
					minInterval: 1
				},
				series: [{
					name: '维修申请',
					data: [],
					type: 'line',
					color: '#c23531'
				},
				{
					name: '保养申请',
					data: [],
					type: 'line',
					color: '#ffff00'
				},
				{
					name: '维修完成',
					data: [],
					type: 'line',
					color: '#3c40cd'
				},
				{
					name: '保养完成',
					data: [],
					type: 'line',
					color: '#9aff9a'
				}]
			};
			
			layui.$.get('/weekMaintCount', function (data) {
				var maintApply = autoPadding(data[0]);		//维修申请
				var fitApply = autoPadding(data[1]);		//保养申请
				var maintComplete = autoPadding(data[2]); 	//维修完成
				var fitComplete = autoPadding(data[3]); 	//保养完成
				option.series[0].data = maintApply;
				option.series[1].data = fitApply;
				option.series[2].data = maintComplete;
				option.series[3].data = fitComplete;
				// 使用刚指定的配置项和数据显示图表。
				myChart.setOption(option);
			});
            
            //遍历数组，对未出现的日期进行数量为0的填充
            function autoPadding(data) {
            	var result = [];
				var date = getWeekList();
				if (data.length == 7) {
					for (var i = 0; i < 7; i++) {
						result[i] = data[i].num; 
					}
				} else {
					for (var i = 0; i < 7; i++) {
						for (var j = 0; j < data.length; j++) {
							if (data[j].date == date[i]) {
								result[i] = data[j].num;
								break;
							}
							result[i] = 0;
						}
					}
				}
            	return result;
            }
        });
    </script>
</body>
</html>