<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
</head>

<style>
    html, body {
        height: 100%;
        margin:0;padding:0;
        font-size: 12px;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }

    .layui-table-view .layui-table {width:100%}
</style>

<body class="animated fadeIn">

	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>
	
	<div style="height: 100%">
		<div style="height: 100%">
			<div style="padding: 20px; background-color: #F2F2F2; height: 100%;">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-md3">
						<div class="layui-card">
							<div class="layui-card-header">区域维修点树</div>
							<div class="layui-card-body" id="toolbarDiv">
								<ul id="deptTree" class="dtree" data-id="0"></ul>
							</div>
						</div>
					</div>
					<div class="layui-col-md4">
						<div class="layui-card">
							<div class="layui-card-header" id="dept-card-header">区域列表</div>
							<div class="layui-card-body">
								<table class="layui-hide" id="dept-table" lay-filter="areaFilter"></table>
							</div>
						</div>
					</div>
					<div class="layui-col-md5">
						<div class="layui-card">
							<div class="layui-card-header" id="point-card-header">维修点列表</div>
							<div class="layui-card-body">
								<table class="layui-hide" id="point-table" lay-filter="pointFilter"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/html" id="areaToolbar">
		<shiro:hasPermission name="dept:add">
			<button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
				<i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
					新增
			</button>
		</shiro:hasPermission>
	</script>
	
	<script type="text/html" id="pointToolbar">
		<shiro:hasPermission name="point:add">
			<button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
				<i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
					新增
			</button>
		</shiro:hasPermission>
	</script>
	
	<script type="text/html" id="area-column-toolbar">
		<shiro:hasPermission name="dept:update">
			<a lay-event="edit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>
		
		<shiro:hasPermission name="dept:delete">
			<a lay-event="del">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>
	</script>
	
	<script type="text/html" id="point-column-toolbar">
		<shiro:hasPermission name="point:update">
			<a lay-event="edit">
				<i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
			</a>
		</shiro:hasPermission>
		
		<shiro:hasPermission name="point:delete">
			<a lay-event="del">
				<i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
			</a>
		</shiro:hasPermission>
	</script>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
	<script>
		var parentDeptId = 0;
		var parentPointId = 0;
		
		// 获取有没有删除, 更新, 和新增的权限.
		var hasDeptDelete = false;
		var hasDeptUpdate = false;
		var hasDeptAdd = false;
		
		$.get('/security/hasPermission/dept:update', function (data) {
			hasDeptUpdate = data.data;
		});
		$.get('/security/hasPermission/dept:delete', function (data) {
			hasDeptDelete = data.data;
		});
		$.get('/security/hasPermission/dept:add', function (data) {
			hasDeptAdd = data.data;
		});
		
        layui.config({
			base: '/lib/layui/extend/'
		}).use(['jquery', 'dtree', 'layer', 'table', 'element', 'tablePlug'], function () {
			var dtree = layui.dtree;
			var layer = layui.layer;
			var table = layui.table;
			var tablePlug = layui.tablePlug;
			
			tablePlug.smartReload.enable(true);
			
            var DTree = dtree.render({
				elem: "#deptTree",
				url: "/dept/tree/root",
				dataStyle: "layuiStyle",
				initLevel: 5,   // 初始打开节点级别
				method: "GET",
				dot: false,     // 圆点是否显示
				toolbar: false,  // 右键工具栏
				menubar: true,  // 树上方工具栏, 展开、收缩、刷新、搜索等
				toolbarShow: [],
				toolbarScroll: "#toolbarDiv",
				toolbarExt: [
					{
						toolbarId: "add",
						icon: "dtree-icon-roundadd",
						title: "添加子节点",
						handler: function (node, $div) {
							add(node.nodeId);
						}
					},
					{
						toolbarId: "edit",
						icon: "dtree-icon-bianji",
						title: "编辑",
						handler: function (node, $div) {
							edit(node.nodeId);
						}
					},
					{
						toolbarId: "remove",
						icon: "dtree-icon-roundclose",
						title: "删除",
						handler: function (node, $div) {
							del(node.nodeId);
						}
					}
				],
				response: {
					statusCode: 0,
					message: "msg",
					treeId: "id",
					parentId: "parentId",
					title: "name",
					level: "basicData"
				},
				toolbarFun:{
					loadToolbarBefore: function(buttons, param, $div){
						if(param.level === "1"){ // 如果是顶级节点, 则取消编辑和删除功能.
							buttons.edit = "";
							buttons.remove = "";
						}
						if (!hasDeptAdd) {
							buttons.add = "";
						}
						if (!hasDeptDelete) {
							buttons.remove = "";
						}
						if (!hasDeptUpdate) {
							buttons.edit = "";
						}
						return buttons;
					}
				}
			});
            
            /* table.render({
				elem: '#dept-table',
				url: '/dept/list',
				where: {
					parentId: 0
				},
				cellMinWidth: 80,
				//toolbar: '#toolbar',
				smartReloadModel: true,
				cols: [
					[
						{type: 'numbers', title: '序号', width: "10%"},
						{field: 'id', title: 'ID', hide: true},
						{field: 'name', title: '名称'},
						{title: '操作', align: 'center', toolbar: '#column-toolbar'}
					]
				]
			}); */
			
			table.render({
				elem: '#dept-table',
				url: '/dept/area/list',
				where: {
					parentId: 0
				},
				cellMinWidth: 80,
				toolbar: '#areaToolbar',
				defaultToolbar: null,
				smartReloadModel: true,
				cols: [
					[
						{type: 'numbers', title: '序号', width: "10%"},
						{field: 'id', title: 'ID', hide: true},
						{field: 'name', title: '名称', event: 'setAreaSign', style: 'cursor: pointer;'},
						{title: '操作', align: 'center', toolbar: '#area-column-toolbar'}
					]
				]
			});
            
			table.render({
				elem: '#point-table',
				url: '/dept/point/list',
				where: {
					parentId: 0
				},
				cellMinWidth: 80,
				toolbar: '#pointToolbar',
				defaultToolbar: null,
				smartReloadModel: true,
				cols: [
					[
						{type: 'numbers', title: '序号', width: "10%"},
						{field: 'id', title: 'ID', hide: true},
						{field: 'name', title: '名称', event: 'setPointSign', style: 'cursor: pointer;'},
						{title: '操作', align: 'center', toolbar: '#point-column-toolbar'}
					]
				]
			});
			
			dtree.on("node('deptTree')", function (obj) {
				if(obj.param.basicData == 0) {
					table.reload('dept-table', {
						where: {
							parentId: obj.param.nodeId
						}
					});
					parentDeptId = obj.param.nodeId;
					$("#dept-card-header").html("[" + obj.param.context + "]的子区域");
					
					table.reload('point-table', {
						where: {
							parentId: obj.param.nodeId
						}
					});
					parentPointId = obj.param.nodeId;
					$("#point-card-header").html("[" + obj.param.context + "]的维修点");
				}
			});
			
			table.on('toolbar(areaFilter)', function (obj) {
				var event = obj.event;
				if (event === 'add') {
					addArea(parentDeptId);
				}
			});
			
			table.on('toolbar(pointFilter)', function (obj) {
				var event = obj.event;
				if (event === 'add') {
					addPoint(parentDeptId);
				}
			});
			
			table.on('tool(areaFilter)', function (obj) {
				var data = obj.data;
				var swapId;
				var currentId;
				if(obj.event === 'setAreaSign') {	//监听区域单元格单击事件
					table.reload('point-table', {
						where: {
							parentId: data.id
						}
					});
					parentPointId = data.id;
					$("#point-card-header").html("[" + data.name + "]的维修点");
				} else if (obj.event === 'edit') {
					edit(data.id);
				} else if (obj.event === 'del') {
					del(data.id);
				}
				
				//标注选中样式
				obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
			});
			
			table.on('tool(pointFilter)', function(obj){
				var data = obj.data;
				var swapId;
				var currentId;
				
				if(obj.event === 'setPointSign') {	//监听维修点单元格单击事件
					layer.open({
						content: "/dept/detail/" + data.id,
						title: "详细信息",
						area: ['40%', '85%'],
						type: 2,
						maxmin: true,
						shadeClose: true
					});
				} else if (obj.event === 'edit') {
					editPoint(data.id);
				} else if (obj.event === 'del') {
					delPoint(data.id);
				}
				
				//标注选中样式
				obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
			});
			
			function addArea(parentDeptId) {
				layer.open({
					content: "/dept/area?parentId=" + parentDeptId,
					title: "添加子区域",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						refresh();
					}
				});
			}
			
			function addPoint(parentDeptId) {
				layer.open({
					content: "/dept/point?parentId=" + parentPointId,
					title: "添加维修点",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						refreshPoint();
					}
				});
			}
			
			function swapSort(currentId, swapId) {
				$.post('/dept/swap', {currentId: currentId, swapId: swapId}, function (data) {
					layer.msg("交换成功");
					handlerResult(data, function () {
						refresh();
					});
				});
			}
			
			function del(id) {
				layer.confirm("你确定删除该区域吗？如果存在子区域及维修点则一并删除！", {icon: 3, title: '提示'},
					function (index) {
						$.post('/dept/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, function () {
								refreshAll();
							});
						});
					},
					function (index) {
						layer.close(index);
					}
				);
			}
			
			function delPoint(id) {
				layer.confirm("你确定删除该维修点吗？", {icon: 3, title: '提示'},
					function (index) {
						$.post('/dept/' + id, {_method: "DELETE"}, function (data) {
							layer.close(index);
							handlerResult(data, function () {
								refreshPoint();
							});
						});
					},
					function (index) {
						layer.close(index);
					}
				);
			}
			
			function refresh() {
				table.reload("dept-table");
				DTree.menubarMethod().refreshTree();
			}
			
			function refreshPoint() {
				table.reload("point-table");
				DTree.menubarMethod().refreshTree();
			}
			
			function refreshAll() {
				table.reload("point-table");
				table.reload("dept-table");
				DTree.menubarMethod().refreshTree();
			}
			
			function edit(id) {
				layer.open({
					content: '/dept/' + id,
					title: "编辑",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						refresh();
					}
				});
			}
			
			function editPoint(id) {
				layer.open({
					content: '/dept/point/' + id,
					title: "编辑",
					area: ['40%', '85%'],
					type: 2,
					maxmin: true,
					shadeClose: true,
					end: function () {
						refreshPoint();
					}
				});
			}
		});
	</script>
</body>

</html>