<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>耗材编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/formSelects-v4.css}" />
</head>

<body>
	<div class="z-body animated fadeIn">
		<form action="" method="post" class="layui-form layui-form-pane">
			<div class="layui-form-item">
				<label for="materialNumber" class="layui-form-label" style="border-style: solid solid none solid;">编号</label>
				<div class="layui-input-block">
					<input type="text" id="materialNumber" name="materialNumber"
						th:value="${material?.materialNumber}" lay-verify="required|minlen|alphanum"
						lay-vertype="tips" autocomplete="off" placeholder="" class="layui-input" style="border-style: solid solid none solid;">
				</div>
				<label for="materialName" class="layui-form-label" style="border-style: solid solid none solid;">名称</label>
				<div class="layui-input-block">
					<input type="text" id="materialName" name="materialName"
						th:value="${material?.materialName}" lay-verify="required"
						lay-vertype="tips" autocomplete="off" class="layui-input" style="border-style: solid solid none solid;">
				</div>
				<label for="ggxh" class="layui-form-label" style="border-style: solid solid none solid;">规格</label>
				<div class="layui-input-block">
					<input type="text" id="ggxh" name="ggxh"
						th:value="${material?.ggxh}" lay-verify="required"
						lay-vertype="tips" autocomplete="off" class="layui-input" style="border-style: solid solid none solid;">
				</div>
				<label for="price" class="layui-form-label" style="border-style: solid solid none solid;">单价</label>
				<div class="layui-input-block">
					<input type="number" id="price" name="price"
						th:value="${material?.price}" lay-verify="required|number"
						lay-vertype="tips" autocomplete="off" class="layui-input" style="border-style: solid solid none solid;">
				</div>
				<label for="unit" class="layui-form-label" style="border-style: solid solid none solid;">单位</label>
				<div class="layui-input-block">
					<input type="text" id="unit" name="unit"
						th:value="${material?.unit}" lay-verify=""
						lay-vertype="tips" autocomplete="off" class="layui-input" style="border-style: solid solid none solid;">
				</div>
				<label for="materialBrand" class="layui-form-label" style="border-style: solid solid none solid;">品牌</label>
				<div class="layui-input-block">
					<input type="text" id="materialBrand" name="materialBrand"
						th:value="${material?.materialBrand}" lay-verify=""
						lay-vertype="tips" autocomplete="off" class="layui-input" style="border-style: solid solid none solid;">
				</div>
				<label for="category" class="layui-form-label" style="border-style: solid solid none solid;">分类</label>
				<div class="layui-input-block">
					<input type="text" id="category" name="category"
						th:value="${material?.category}" lay-verify=""
						lay-vertype="tips" autocomplete="off" class="layui-input" style="border-style: solid solid none solid;">
				</div>
				<label for="description" class="layui-form-label">备注</label>
				<div class="layui-input-block">
					<input type="text" id="description" name="description"
						th:value="${material?.description}" lay-verify=""
						lay-vertype="tips" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block"
					style="margin-left: 0; text-align: center;">
					<input type="hidden" id="materialId" name="materialId" th:value="${material?.materialId}">
					<button th:text="${material}?'修改':'增加'"
						class="layui-btn layui-btn-normal btn-w100" lay-submit=""
						data-th-lay-filter="${material}?'edit':'add'"></button>
				</div>
			</div>
		</form>
	</div>
	
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	
	<script>
		layui.config({
			base: '/lib/layui/extend/'
		}).use(['form', 'layer'], function () {
			$ = layui.jquery;
			var form = layui.form,
				layer = layui.layer;
			
			form.on('submit(add)', function (form) {
				$.post('/material', form.field, function (result) {
					handlerResult(result, addDone);
				});
				return false;
			});
			
			//监听提交
			form.on('submit(edit)', function (form) {
				form.field._method = 'PUT';
				$.post('/material', form.field, function (result) {
					handlerResult(result, editDone);
				});
				return false;
			});
			
			function addDone(data) {
				layer.msg("添加成功", {icon: 6});
			}
			
			function editDone(data) {
				layer.msg("修改成功", {icon: 6});
			}
		});
	</script>
</body>

</html>