<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>网络公司-个人中心</title>
  <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  
  <script th:src="@{/js/jquery.js}"></script>
  <script th:src="@{/lib/layui/layui.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  
  <style>
  	.layui-iframe {
	    position: absolute;
	    width: 100%;
	    height: calc(100%) !important;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    border: none;
	}
  </style>
  
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
	  <div class="layui-header">
	    <div class="layui-logo">个人中心</div>
	    <ul class="layui-nav layui-layout-right">
	      <li class="layui-nav-item"><a href="/website/user/logout">退了</a></li>
	    </ul>
	  </div>
	  
	  <div class="layui-side layui-bg-black">
	    <div class="layui-side-scroll">
	      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
	      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
	        <li class="layui-nav-item">
	          <a class="" href="javascript:;">账号管理</a>
	          <dl class="layui-nav-child">
	            <dd><a href="/website/user/toPersonInfo" target="bodyIframe">个人资料</a></dd>
	            <dd><a href="/website/user/toUpdPwd" target="bodyIframe">密码修改</a></dd>
	          </dl>
	        </li>
	        <li class="layui-nav-item">
	          <a class="" href="javascript:;">订单管理</a>
	          <dl class="layui-nav-child">
	            <dd><a href="/website/user/toOrderManage" target="bodyIframe">订单查看</a></dd>
	            <!-- <dd><a href="/website/user/toOrderTrace" target="bodyIframe">订单跟踪</a></dd> -->
	          </dl>
	        </li>
	        <li class="layui-nav-item"><a href="/website/user/toRepairApplication" target="bodyIframe">维修申请</a></li>
	      </ul>
	    </div>
	  </div>
	  
	  <div class="layui-body">
	    <!-- 内容主体区域 -->
	    <iframe src="" id="bodyIframe" name="bodyIframe" class="layui-iframe"></iframe>
	  </div>
	  <!-- 底部固定区域 -->
	  <div class="layui-footer">
		copyright © 2019 Z-Admin all rights reserved.
	  </div>
  </div>
  
  <script th:inline="javascript">
  	
  </script>
</body>
</html>